<ion-header>
  <ion-toolbar color= primary>
    <ion-title>Compras Passadas</ion-title>
    <ion-buttons slot= 'start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot = 'end'>
    <ion-button><ion-icon name='exit' ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor = "let compra of compras">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name = 'star'></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label>{{compra.nome_item}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{compra.data}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


  </ion-list>
</ion-content>
